.productItem {
    
    background-color: white;
    border-radius: 16px;
    margin-bottom: 24px;
    .productButton {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background: none;
      align-items: center;
      border: none;
      font-size: 18px;
      cursor: pointer;
      padding: 20px;
      background-color: #fff;
      border-radius: 16px;

      .productIcons {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  
    .subProducts {
      overflow: hidden;
      
    }
  }
  